{% extends 'base.html.twig' %}

{% block body %}
    <h1>Connectez-vous</h1>

    <div class="InscriptionLogin">

    <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <p>Nom d'utilisateur</p>
            <input required name="_username" type="text" class="form-control"><br>
        </div>
        <div class="form-group">
            <p>Mot de passe</p>
            <input required name="_password" type="password" class="form-control"><br>
        </div>

        {% if error %}
            <div class="form-error">
                <span class="error">Vos identifiants sont incorrects</span>
            </div>
        {% endif %}
        <div class="form-group">
            <button type="submit" class="btn btn-success">Se connectez</button>
        </div>
    </form>

    <br>
    <div class="redirect">
    <a href="{{ path('security_registration') }}">Vous n'êtes pas inscrit ? Inscrivez-vous !</a>
    </div>

    </div>

{% endblock %}
