@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{ /* css du corps de page */
  background : #060b56;
}


h1{ /* css des gros titres */
  margin-top: 30px;
  color : white;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}


.InscriptionLogin { /* css de l'encadré de connexion ou inscription */
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-box-shadow: 0 0 20px white;
  -webkit-box-shadow: 0 0 20px white;
  box-shadow: 0 0 20px white;
  width:600px;
  height: 500px;
  color : white;
  line-height : 20px;
  padding-top : 10px;
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 1em;
}


.form-group { /* css des noms des boites d'infos à rentrer pour connexion ou inscription */
  margin-top: 30px;
  color : white;
}
.form-control { /* css des boites d'infos à rentrer pour connexion ou inscription */
  background-color: white;
  line-height: 10px;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}


.btn-success { /* css du bouton de connexion ou inscription */
  color: white;
  font-family: 'Pacifico', cursive;
  background-color: #060b56;
  border: none;
  //box-shadow: 5px 5px 10px #ccc;
  box-shadow: 0px 0px 5px 5px rgba(0, 123, 255, .5);
}
.btn-success:hover{ /* quand la souris passe sur le bouton */
  background-color: rgba(0, 123, 255);
}


.redirect{ /* css du message de redirect connexion ou inscription */
  margin-top : 20px;
  font-size: 25px;
}
